[submodule "extensions/enterprise"]
	path = extensions/enterprise
	url = git@git.ipnode.net:powernode/powernode-enterprise.git
	branch = develop
[submodule "extensions/supply-chain"]
	path = extensions/supply-chain
	url = git@git.ipnode.net:powernode/powernode-supply-chain.git
	branch = develop
[submodule "extensions/trading"]
	path = extensions/trading
	url = git@git.ipnode.net:powernode/powernode-trading.git
	branch = develop
