[submodule "extensions/supply-chain"]
	path = extensions/supply-chain
	url = git@git.ipnode.net:powernode/powernode-supply-chain.git
	branch = develop
[submodule "extensions/trading"]
	path = extensions/trading
	url = git@git.ipnode.net:powernode/powernode-trading.git
	branch = develop
[submodule "extensions/business"]
	path = extensions/business
	url = git@git.ipnode.net:powernode/powernode-business.git
	branch = develop
